body {
  background: white;
}

div.main-body {
  margin: 2% 10% 2% 10%;
}

img.img-responsive {
  margin: 20px 20px 20px 20px;
}

p {
  text-align: justify;
}

.lab-center {
    /* margin: auto;
    display: table; */
    text-align: center;
}

div.center-img{
  display:inline-block;
  margin:5px 20px;
  padding:5px;
  
  border:1px solid #CCC;
}

img.lab-img {
  width: 250px;
  height: auto;
}